.header {
    padding: 15px 0;
}

.logo {
    width: 128px;
    height: 19px;
    transition: .2s linear;

    &:hover {
        opacity: 0.7;
    }
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;

    &-link {
        text-decoration: none;
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #939699
    }
}

.button {
    padding: 10px 20px;
    background: #4592FF;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;

    &-text {
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        color: #FFFFFF;

        &:before {
            content: url(../images/cart.svg);
            width: 18px;
            height: 17px;
            margin-right: 10px;
        }
    }
}